/* ОБНУЛЕНИЕ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
}
  
a {
    text-decoration: none;
}
  
  /* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgb(34, 34, 34);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
  
.head_left,
.head_right {
    display: flex;
    align-items: center;
    gap: 33px;
}
  
.head_link img {
    width: 29px;
    height: 29px;
    display: block;
    cursor: pointer;
    transition: transform 0.2s ease;
}
  
.head_link img:hover {
    transform: scale(1.1);
}

.menu_list {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1000;
    min-width: 250px;
    list-style: none;

  }
  
  .menu_list:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-category {
    margin-bottom: 12px;
  }

  .dropdown-title-menu {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-left: 32px;
    margin-bottom: 24px;
    /* margin-top: 32px; */

  }
  
  .dropdown-title {
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
    margin-left: 32px;
    color: rgb(241, 109, 127);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .submenu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .submenu li {
    margin-bottom: 5px;
    list-style: none;
  }
  
  .dropdown-item {
    color: rgb(111, 110, 110);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 53px;
    margin-bottom: 12px;
  }
  
  .dropdown-item:hover {
    color: #000;
    text-decoration: underline;
  }
  
  
  /* LANDING */
.landing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
    background: rgb(241, 228, 230);
}
  
.left,
.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.right {
    padding: 20px;
    gap: 64px;
}
  
.text-box {
    display: flex;
    align-items: center;
    gap: 16px;
}
  
.line {
    width: 12px;
    height: 98px;
    background-color: #f16d7f;
}
  
.text h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
    color: rgb(34, 34, 34);
}
  
.text p {
    font-size: 32px;
    font-weight: 700;
    color: rgb(34, 34, 34);
}
  
.fashion {
    color: #e75d71;
    font-weight: 700;
}
  
  /* SECTTION */
.section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 96px;
}
  
.item {
    position: relative;
    width: 360px;
    height: 260px;
}

.item_accesories {
    position: relative;
    width: 1140px;
    height: 180px;
}
  
.section_img {
    width: 100%;
    height: 100%;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 22, 22, 0.6); 
}
  
.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
  
.subtitle_section {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
  
.title_section {
    font-size: 24px;
    font-weight: 700;
    color: rgb(241, 109, 127);
}

  /* SHOP */

.title_top_shop {
    color: rgb(34, 34, 34);
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.top_text_shop {
    color: rgb(159, 159, 159);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 48px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item_shop {
    width: 360px; 
    height: 581px;
    display: flex;
    flex-direction: column; 
}


  .shop_img_wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.shop_img {
    width: 100%;
    height: auto;
    display: block;
}

/* Тёмный слой */
.shop_img_wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.shop_img {
    width: 100%;
    height: auto;
    display: block;
}

.shop_img_wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.add-to-cart-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 13px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;


    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.add-to-cart-btn .btn-icon {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.shop_img_wrapper:hover::after {
    opacity: 0.5;
}

.shop_img_wrapper:hover .add-to-cart-btn {
    opacity: 1;
}




.shop_img:hover:after {
    position: absolute;
    margin-left: -250px;
    content: '+';
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #FFE200;
  }

.text_content_shop{
    padding: 24px 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    background: rgb(248, 248, 248);
}

.shop_title {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.text_shop {
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.price {
    color: rgb(241, 109, 127);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.all_product_btn {
    color: rgb(242, 99, 118);
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: 1px solid rgb(255, 106, 106);
    padding: 14.5px 38.5px;
    display: flex;
    margin: 0 auto;
    margin-top: 49px;
    margin-bottom: 60px;
    cursor: pointer;
}

.all_product_btn:hover {
    background-color: #f16d7f;
    color: white;
    border-color: #f16d7f;
    transition: all 0.3s ease;
  }

/* FEATURE */
.feature {
    height: auto;
    width: 100%;
    background: rgb(34, 34, 36);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 103px;
    padding-bottom: 104px;
}

.feature_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.icon_feature {
    width: 45px;
    height: 32px;
    
}

.title_feature {
    color: rgb(251, 251, 251);
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 16px;
}

.text_feature {
    color: rgb(251, 251, 251);
    font-size: 13.97px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
}

/* SUBSCRIBE */
.subscribe {
    position: relative;
    background-image: url(../img/background_sub.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 223px;
    height: 448px;
}

.subscribe::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color:  rgba(244, 244, 244, 0.7);
    z-index: 0;
}

.left_items,
.right_items {
    position: relative;
    z-index: 1;
    margin-bottom: 156px;
}

.left_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 97px;
}

.left_items img{
    width: 96px;
    height: 96px;
    margin-bottom: 30px;
}

.text_profile{
    color: rgb(34, 34, 36);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 360px;
}

.italic_text {
    color: rgb(34, 34, 36);
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 360px;
}

.title_sub {
    color: rgb(34, 34, 36);
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 150px;

}

.text_sub {
    color: rgb(34, 34, 36);
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email input[type="text"] {
    color: rgb(34, 34, 36);
    background-color: rgb(225, 225, 225);;
    padding: 12px 20px;
    border: none;
    border-right: none;
    border-radius: 30px 0 0 30px;
    outline: none;
    font-size: 16px;
}

.email input[type="submit"] {
    padding: 12px 24px;
    border: none;
    border-left: none;
    border-radius: 0 30px 30px 0;
    background-color: #f16d7f;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.email input[type="submit"]:hover {
    background-color: #e05567;
}

/* FOOTER */
footer {
    display: flex;
    padding: 24px 235px;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 34, 36);
    color: #fff;
}

.left_footer{
    color: rgb(251, 251, 251);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.right_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social_icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.social_icons img {
    width: 32px;
    height: 32px;
}



/* TABLET */
@media (max-width: 1024px) {
    .line {
        height: 92px;
    }

    .text h1 {
        font-size: 44px;
    }

    .text p {
        font-size: 24px;
    }

    .left img {
        width: 370px;
        height: 368px;
    }

    .landing { 
        min-height: unset;
        height: auto;
    }

    .section {
        width: 736px;
        height: 303px;
        gap: 19px;
        margin: 65px 16px 105px 16px;
    }
    
    .item {
        width: 232px;
        height: 167px;
    }

    .item_accesories {
        width: 736px;
        height: 116.04px;
    }

    .feature {
        flex-direction: column;
    }

    .subscribe {
        height: auto;
        display: flex;
        gap: 20px; 
        flex-direction: column; 
        justify-content: center; 
    }
    
    .left_items,
    .right_items {
        width: 100%; 
        margin-bottom: 0; 
        margin-top: 0; 
        text-align: center; 
    }

    footer {
        gap: 100px;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    .head_left {
        width: 111px;
        height: 38px;
    }

    .head_right .head_link {
        display: none;
    }

    .head_link img {
        width: 32px;
        height: 23px;
    }

    .head_right .menu_icon {
        display: block;
    }

    .landing {
        height: 363px;
        align-items: center;
    }

    .left {
        display: none;
    }

    .line {
        width: 12px;
        height: 66px;
    }

    .text h1 {
        font-size: 38px;
    }

    .text p {
        font-size: 20px;
    }

    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: auto;
        margin: 64px 16px 64px 16px;
    }

    .item {
        width: 100%; 
        height: auto; 
        max-width: 350px; 
        margin: 0 0 32px 0;
    }

    .item_accesories {
        width: 343px;
        height: 111px;
    }

    .shop {
        margin: 0 8px;
    }

    .feature {
        flex-direction: column;
    }

    .subscribe {
        height: auto;
        display: flex;
        gap: 20px; 
        flex-direction: column; 
        justify-content: center; 
    }
    
    .left_items,
    .right_items {
        width: 100%; 
        margin-bottom: 0; 
        margin-top: 0; 
        text-align: center; 
    }
    
    .left_footer {
        width: 300px;
    }

    footer{
        flex-direction: column-reverse;
        gap: 40px;
    }

    .social_icons {
        flex-direction: row;
        justify-content: center;
    }

}
